<article>
  {{!-- route to redirect users to dashboard --}}
  <a href="/dashboard"> &larr; Back to comments</a>
  {{!-- edit comment form and button with handlbar values --}}
  <h2>
    Edit comment
  </h2>
  <form class="edit-comment-form">
    <div>
      <input name="comment-title" type="text" value="{{comment.title}}" />
      <span>({{format_url comment.comment_url}})</span>
    </div>
    <div>
      {{comment.vote_count}} {{format_plural "point" comment.vote_count}} by you on {{format_date comment.created_at}}
      |
      <a href="/comment/{{comment.id}}">{{comment.comments.length}} {{format_plural "comment"
        comment.comments.length}}</a>
    </div>
    <button type="submit" id="save-comment-btn" class="button has-icons-left has-background-success-dark has-text-white"
      style="border:none"><span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      {{!-- update comment button --}}
      <span>
        Update Comment
      </span></button>
    <button type="submit" id="delete-comment-btn"
      class="button has-icons-left has-background-danger-dark has-text-white">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
      {{!-- delete comment button --}}
      <span>
        Delete Comment
      </span>
    </button>
  </form>
</article>
{{!-- static javascript files needed to run page --}}
<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>